<h1>Games#score</h1>
<p>Find me in app/views/games/score.html.erb</p>

<p>******** Now your result ********</p>


<p>Your word:<%= @attempt %></p>
<p>Time Taken to answer:<%= @result[:time] %></p>
<p>Translation: <%= @result[:translation] %></p>
<p>Your score is: <%= @result[:score] %></p>
<p>the message is: <%= @result[:message] %></p>

<p>****************************************************</p

